html{
    font-family: sans-serif;
}

#map{
    width: 92%;
    height: 22rem;
    border: 1px solid #0af;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


form{
    text-align: center;
    margin: 3rem auto;
}

#address {
    border-radius: 10%;
    border-color: #0af;
}
